html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}


.side-background {
  --bg-image: url("https://images.pexels.com/photos/248159/pexels-photo-248159.jpeg");
  --bg-image-opacity: .05;
  background-color: #110B1D;
  position: relative;
  isolation: isolate;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.side-background::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: var(--bg-image);
  opacity: var(--bg-image-opacity);
}

.side-background-signup {
  --bg-image: url("https://images.pexels.com/photos/589808/pexels-photo-589808.jpeg");
  --bg-image-opacity: .1;
  background-color: #F5C45E;
  position: relative;
  isolation: isolate;
  width: 45%;
  display: flex;
  flex-direction: column;
}

.side-background-signup::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: var(--bg-image);
  opacity: var(--bg-image-opacity);
}

